
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <br><br>
          <h1><b>TIC TAC TOE</b></h1>
        </div>
      </div>
      <div class="row">
        <div class="col-sm-6">
          <br>
          <div class="card">
            
            <div class="card-body">
              <h1><b> NUEVA PARTIDA PARTIDA</b></h1>
              <img src="/assets/image/o.png" width="60%">
              <br><br>
              <button type="button" class="btn btn-primary"  (click)="game()">Unirse</button>
            </div>
          </div>
        </div>
        <div class="col-sm-6">
          <br>
          <div class="card">
            <div class="card-body">
              <h1><b>UNIRSE A PARTIDA</b></h1>
              <img src="/assets/image/x.png" width="60%">
              <br><br>
              <button type="button" class="btn btn-primary">Unirse</button>
            </div>
          </div>
        </div>
      </div>
    </div>
    

  
    
      
  
  
    
  